*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, 'poppines';
    box-sizing: border-box;

}

body{
  background: #002339;
  color: #fff;

}


.containeer{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display{
    width:100%;
    margin-top:10%;
    margin-bottom:5%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;


}

.containeer h1{
  font-weight: 500px;
  font-size: 40px;

}

.containeer h1 span{
padding-top:15px;
color: #019f55;
border-bottom: 4px solid #019f55 
}


.display img{
 cursor:pointer;
 width:30px;

}

.display input{
    border:0px;
    outline:0px;
    font-size: 24px;


}

.containeer button img{
    width :28px;
    padding-right:10px;
}

.containeer button {
    border: 0px;
    outline: 0px;
    background: #019f55;
    color:#fff;
    font-size: 22px;
    font-weight: 300px;
    display:flex;
    align-items: center;
    justify-content:center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;

}